{% extends "widgets::widgets/components/component.twig" %}

{% block component %}
    {% set _microtime = microtime() %}
    <br>
    {{ widget('input')
        .setType('hidden')
        .setId('__components_' ~ name ~ '_content_' ~ md5(_microtime) ~ '_blocks_block_id')
        .setName('__components[' ~ name ~ '][content][' ~_id ~ '][blocks][block_id]')
        .setValue(content.block_id ?? '')
        .render()|raw }}
    <div class="form-group row mb-0">
        <div class="col-12">
            <div class="card placeholder placeholder--centered placeholder--clickable" onclick="return openAjaxDialog('block_finder_{{  md5(_microtime) }}', '{{ route('blocks.finder') }}', { callback : '_block_find_{{  md5(_microtime) }}' }, { title : '{{ 'Поиск блока'|trans }}', width : 600 })" id="{{ '_component_block_' ~ md5(_microtime)|raw }}">
                <div class="card__body card__body--no-padding" id="{{ '_component_block_' ~ md5(_microtime) ~ '_result'|raw }}">
                    {{ 'Кликните для выбора блока'|trans }}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function _block_find_{{  md5(_microtime) }}(e, row) {
            let _id = '#{{ '_component_block_' ~ md5(_microtime) }}';
            $.get('{{ route('blocks.load') }}?id=' + row.id, function(html){
                $(_id).removeClass('placeholder placeholder--centered');
                $('#{{ '_component_block_' ~ md5(_microtime) ~ '_result'|raw }}').html(html);
                closeDialog('block_finder_{{  md5(_microtime) }}');
                $('#{{ '__components_' ~ name ~ '_content_' ~ md5(_microtime) ~ '_blocks_block_id' }}').val(row.id);
            });
        }
        {% if content.block_id %}
            window.addEventListener("load", () => {
                let _id = '#{{ '_component_block_' ~ md5(_microtime) }}';
                $.get('{{ route('blocks.load') }}?id={{ content.block_id }}', function(html){
                    $(_id).removeClass('placeholder placeholder--centered');
                    $('#{{ '_component_block_' ~ md5(_microtime) ~ '_result'|raw }}').html(html);
                });
            },false);
        {% endif %}
    </script>
{% endblock %}
