{% extends "widgets::widgets/components/component.twig" %}

{% block component %}
    <div class="form-group mb-0">
        <div class="form-group__label">
            {{ 'Галерея'|trans }}
        </div>
        <div class="form-group__content">
            {{ widget('gallery')
                .setName('__components[' ~ name ~ '][content][' ~ microtime() ~ '][gallery]')
                .setContent(content)
                .render()|raw }}
        </div>
    </div>
{% endblock %}
