{% extends "widgets::widgets/components/component.twig" %}

{% set _id = microtime() %}

{% block settings %}
    <div class="row">
        <div class="col-3">
            <div class="form-group mb-0">
                <div class="form-group__label">
                    {{ 'Уровень заголовка'|trans }}
                </div>
                <div class="form-group__content">
                    {{ widget('select')
                        .setName('__components[' ~ name ~ '][settings][' ~_id ~ '][level]')
                        .addOption('h1', 'H1')
                        .addOption('h2', 'H2')
                        .addOption('h3', 'H3')
                        .addOption('h4', 'H4')
                        .addOption('h5', 'H5')
                        .addOption('h6', 'H6')
                        .setSelected(settings.level ?? '')
                        .render()|raw }}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group mb-0">
                <div class="form-group__label">
                    {{ 'Дополнительный класс'|trans }}
                </div>
                <div class="form-group__content">
                    {{ widget('Input')
                        .setName('__components[' ~ name ~ '][settings][' ~_id ~ '][class]')
                        .setValue(settings.class ?? '')
                        .render()|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block component %}
    <div class="form-group mb-0">
        <div class="form-group__label">
            {{ 'Заголовок'|trans }}
        </div>
        <div class="form-group__content">
            {{ widget('Input')
                .enableI18n()
                .setName('__components[' ~ name ~ '][content][' ~ _id ~ '][heading]')
                .setValue(content)
                .render()|raw }}
        </div>
    </div>
{% endblock %}
