{% extends "widgets::widgets/components/component.twig" %}

{% block component %}
    {{ widget('ImageExtended')
        .enableI18n()
        .setName('__components[' ~ name ~ '][content][' ~ microtime() ~ '][image]')
        .setContent(content)
        .render()|raw }}
{% endblock %}
