{% extends "widgets::widgets/components/component.twig" %}

{% block component %}
    {% set _id = microtime() %}

    <div class="form-group">
        <div class="form-group__label">
            {{ 'Цитата'|trans }}
        </div>
        <div class="form-group__content">
            {{ widget('textarea')
                .enableI18n()
                .setName('__components[' ~ name ~ '][content][' ~ _id ~ '][quote][text]')
                .setContent(content.text)
                .render()|raw }}
        </div>
    </div>
    <div class="form-group mb-0">
        <div class="form-group__label">{{ 'Подпись'|trans }}</div>
        <div class="form-group__content">
            {{ widget('Input')
                .enableI18n()
                .setName('__components[' ~ name ~ '][content][' ~ _id ~ '][quote][author]')
                .setValue(content.author)
                .render()|raw }}
        </div>
    </div>
{% endblock %}
