{% extends "widgets::widgets/components/component.twig" %}

{% block component %}
    {% set _microtime = microtime() %}
    <div class="form-group mb-0">
        <div class="form-group__label">
            {{ 'Содержимое'|trans }}
        </div>
        <div class="form-group__content" id="{{ '_component_' ~ md5(_microtime) }}">
            {{ widget('textarea')
                .enableI18n()
                .setDataWysiwyg('wysiwyg')
                .appendClass('_js-wysiwyg')
                .setName('__components[' ~ name ~ '][content][' ~ _microtime ~ '][text]')
                .setContent(content)
                .render()|raw }}

            <script type="text/javascript">
                if (typeof FormElements != 'undefined') {
                    FormElements.initWysiwyg('{{ '#_component_' ~ md5(_microtime) ~ ' ._js-wysiwyg'|raw }}');
                }
            </script>
        </div>
    </div>
{% endblock %}
