{% extends "widgets::widgets/components/component.twig" %}

{% block component %}
    {% set _microtime = microtime() %}
    <div class="form-group mb-0">
        <div class="form-group__label">
            {{ 'Адрес видео на Youtube или vimeo'|trans }}
        </div>
        <div class="form-group__content" id="{{ '_component_' ~ md5(_microtime) }}">
            {{ widget('input')
                .setId('#_component_' ~ md5(_microtime))
                .setDataResultContainer('#_component_' ~ md5(_microtime) ~ '_result')
                .setDataOgTags('og-tags')
                .setDataUrl(route('components.og'))
                .setOnkeyup('FormElements.parseOgTags(this);')
                .setName('__components[' ~ name ~ '][content][' ~ _microtime ~ '][video]')
                .setValue(content)
                .render()|raw }}
        </div>
    </div>
    <div class="form-group row mb-0">
        <div class="col-12" id="{{ '_component_' ~ md5(_microtime) ~ '_result'|raw }}"></div>
    </div>
    <script type="text/javascript">
        if (typeof FormElements != 'undefined') {
            FormElements.parseOgTags('{{ '#_component_' ~ md5(_microtime)|raw }}');
        }
    </script>
{% endblock %}
