{% set __id = md5(microtime()) %}
<div class="component" data-component id="__component__{{ __id }}">
    {% if block("settings") is not empty %}
        <div class="component__settings ">
            <div class="component__settings-inner">
                {% block settings %}{% endblock %}
            </div>
        </div>
    {% endif %}

    {% block component %}{% endblock %}

    <div class="component__head d-flex align-items-center justify-content-between">
        {% if block("settings") is not empty %}
            <div data-settings class="component__action component__action--link d-flex align-items-center justify-content-center">
                <i class="fa fa-cog"></i>
            </div>
        {% endif %}
        <div class="component__action component__action--link d-flex align-items-center justify-content-center" data-component-remove>
            <i class="fa fa-trash"></i>
        </div>
        <div data-handler class="component__action component__action--drag-handler d-flex align-items-center justify-content-center"></div>
    </div>
</div>