<div class="components" data-toggle="components" data-name="{{ name }}" data-post="{{ route('components.add') }}">
    <div class="components__list" data-components-list>
        {% for __id, component in components.content %}
            {% for componentName, content in component %}
                {{ include ('widgets::widgets/components/component/' ~ componentName ~ '.twig', {
                    'settings' : components.settings[__id][componentName],
                    'content'  : content
                }) }}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="dropdown{{ components.content|length > 0 ? ' d-none' : null }}" data-components-add-init>
        <div onclick="return new Dropdown(this).show()" class="dropdown__trigger components__widget-add d-flex align-items-center justify-content-center link">
            {{ 'Добавить компонент'|trans }}
        </div>
        <div class="dropdown__menu dropdown__menu--position-top-center">
            {% for __name, options in _widget.getAvailableComponents() %}
                <a class="dropdown__item" href="#" data-add-component="{{ __name }}">{{ options.title|trans }}</a>
            {% endfor %}
        </div>
    </div>
    <script class="_js-add-component" type="text/template7">
        <div class="component-add">
            <div class="component-add__trigger dropdown">
                <div class="component-add__button dropdown__trigger" onclick="return new Dropdown(this).show()"></div>
                <div class="dropdown__menu dropdown__menu--position-top-center">
                    {% for __name, options in widget('components').getAvailableComponents() %}
                        <a class="dropdown__item" href="#" data-add-component="{{ __name }}" data-after="self">{{ options.title|trans }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown d-none">
                <div onclick="return new Dropdown(this).show()" class="dropdown__trigger component__widget-add-trigger link d-flex align-items-center justify-content-center">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="dropdown__menu dropdown__menu--position-top-center">
                    {% for __name, options in widget('components').getAvailableComponents() %}
                        <a class="dropdown__item" href="#" data-add-component="{{ __name }}" data-after="self">{{ options.title|trans }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </script>
</div>