{% set __id = _widget.getId() %}
{% set __schema = _widget.getSchema()|json_encode %}

<table{{ _widget.renderAttributes()|raw }}></table>
<script type="text/template7" id="formatDefaultActions_{{ __id }}">
    <div class="table-actions">
        {{ '{{# each actions }}' }}
            {{ '{{#js_if "this.type == \'modal\'"}}' }}
                <div {{ '{{ options }}' }} data-ajax-dialog="element_{{ '{{ data.id }}' }}" data-url="{{ '{{href}}' }}" class="table-actions__action link">
                    <i class="fa fa-{{ '{{icon}}' }}"></i>
                </div>
            {{ '{{/js_if}}' }}
            {{ '{{#js_if "this.type == \'sliding-panel\'"}}' }}
                <div {{ '{{ options }}' }} data-sliding-panel="{{ '{{href}}' }}" class="table-actions__action link">
                    <i class="fa fa-{{ '{{icon}}' }}"></i>
                </div>
            {{ '{{/js_if}}' }}
            {{ '{{#js_if "this.type == \'link\'"}}' }}
                <a{{ '{{#js_if "this.type == \'confirm\'"}} onclick="return confirm(\'Подтвердите\')"{{/js_if}}' }} {{ '{{#js_if "this.target == \'_blank\'"}} target="_blank"{{/js_if}}' }} class="table-actions__action link" href="{{ '{{href}}' }}">
                    <i class="fa fa-{{ '{{icon}}' }}"></i>
                </a>
            {{ '{{/js_if}}' }}
            {{ '{{#js_if "this.type == \'remove\'"}}' }}
                <a onclick="return datatableRemove_{{ __id }}(this)" data-id="{{ '{{ data.id }}' }}" class="table-actions__action link" href="{{ '{{href}}' }}">
                    <i class="fa fa-{{ '{{icon}}' }}"></i>
                </a>
            {{ '{{/js_if}}' }}
        {{ '{{/each}}' }}
    </div>
</script>
<script type="text/javascript">
    function formatDefaultActions_{{ __id }}(id, row)
    {
        let _actions = {{ _widget.getActions()|json_encode|raw }};

        for (let i = 0; i < _actions.length; i++) {
            _actions[i].title = getDefaultTableTemlate(_actions[i].title)(row);

            if (_actions[i].options) {
                _actions[i].options = getDefaultTableTemlate(_actions[i].options)(row);
            }

            if (_actions[i].href) {
                _actions[i].href = getDefaultTableTemlate(_actions[i].href)(row);
            }

            _actions[i].data = row;
        }

        let __actionsTemplate = getDefaultTableActions('#formatDefaultActions_{{ __id }}');
        return __actionsTemplate({{ '{ actions : _actions}'|raw }});
    }

    function redrawCheckbox{{ __id }}(e, data)
    {
        $(this).find('.bs-checkbox').each(function(){
            var checkbox = $(this).find('[type=checkbox]');

            checkbox.attr('id', '{{ __id }}_' + checkbox.data('index'));
            checkbox.addClass('form-checkbox__input');
            checkbox.wrap('<div class="form-checkbox" />');
            checkbox.parent().append('<label for="{{ __id }}_' + checkbox.data('index') + '" class="form-checkbox__label"></label>');
        });
    }

    function datatableRemove_{{ __id }}(trigger)
    {
        if (confirm('Подтвердите')) {
            $.ajax({
                url : trigger.href,
                method : 'post',
                dataType:'json',
                error : function(response){
                    let notyf = new Notyf();
                    notyf.alert(response.responseJSON.message);
                },
                success : function(response){
                    $('#{{ __id }}').bootstrapTable('remove', {
                        field: 'id',
                        values: [$(trigger).data('id')]
                    });

                    let notyf = new Notyf();
                    notyf.confirm(response.message);
                }
            });
        }
        return false;
    }
    if (typeof Datatable != 'undefined') {
        let table = new Datatable();
        table.setId('{{ __id }}');
        table.setColumns({{ __schema|raw }});
        {% for name, callback in _widget.getEvents() %}
            table.setEvent('{{ name }}', {{ callback }});
        {% endfor %}

        table.render();
    }
</script>

{% assets in 'scripts' %}
    <script>
        let table = new Datatable();
        table.setId('{{ __id }}');
        table.setColumns({{ __schema|raw }});
        {% for name, callback in _widget.getEvents() %}
            table.setEvent('{{ name }}', {{ callback }});
        {% endfor %}

        table.render();
    </script>
{% endassets %}