<div class="file-uploader">
    <div class="file-uploader__dropzone" data-toggle="file-uploader" id="{{ _widget.getId() }}"{{ _widget.renderAttributes()|raw }}></div>
    <div class="file-uploader__progress d-none">
        <div class="file-uploader__progress-line"></div>
    </div>
</div>

<script>
    if (typeof initFileUploader != 'undefined') {
        initFileUploader('#{{ _widget.getId() }}');
    }
</script>