{% set __id = md5(microtime()) %}
{% set name = _widget.getName() %}
{% set content = _widget.getContent() %}

<div class="files" id="files{{ __id }}">
    <div class="files__uploader">
        {{ widget('file-uploader')
            .setId('files-uploader-' ~ __id)
            .setDataCallback('filesUpload' ~ __id)
            .setDataLabel('Выберите файлы, чтобы загрузить, или перетащите файлы сюда'|trans)
            .setUploadUrl(route('components.file.upload'))
            .render()|raw }}
    </div>
    <div class="files__list">
        <div class="sortable-list" id="files-sortable-{{ __id }}" data-widget="sortable-list" data-options-handler=".sortable-list__handler" data-options-placeholder="sortable-list__item--placeholder" data-options-axis="y">
            {% for id, path in content['path'] %}
                <div class="sortable-list__item sortable-list__item--with-handler sortable-list__item--with-remove">
                    <input type="hidden" name="{{ name }}[path][{{ id }}]" value="{{ path }}">
                    <div class="sortable-list__content row">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <div class="w-100">
                                {{ widget('input')
                                    .enableI18n()
                                    .setType('text')
                                    .setName(name ~ '[title][' ~ id ~ ']')
                                    .setValue(content.title[id])
                                    .render()|raw }}
                            </div>
                            <a href="{{ env('CDN_GATEWAY_URL') ~ path }}" target="_blank" class="sortable-list__action link d-flex align-items-center justify-content-center">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sortable-list__handler"></div>
                    <a href="" class="sortable-list__remove link d-flex align-items-center justify-content-center">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
    let __filePane{{ __id }} = '';
    function filesUpload{{ __id }}(file, response)
    {
        let id = Math.random();
        if (__filePane{{ __id }} == '') {
            __filePane{{ __id }} = getDefaultTableActions('#filesPane_{{ __id }}');
        }
        response.input = '<input type="hidden" name="{{ name }}[path][' + id + ']" value="' + response.path + '">';
        let _item = $(__filePane{{ __id }}(response));
        _item.find('input[type=text]').each(function(){
            let _attr = $(this).attr('name');
            $(this).attr('name', _attr.replace('___', '{{ name }}[title][' + id + ']'))
                   .val(response.filename);
        });
        $('#files{{ __id }}').find('.files__list .sortable-list').append(_item);
    }
    if (typeof initSortableList == 'function') {
        initSortableList('#files-sortable-{{ __id }}');
    }
</script>
<div id="filesPane_{{ __id }}" style="display: none">
    <div class="sortable-list__item sortable-list__item--with-handler sortable-list__item--with-remove">
        {{ '{{ input }}' }}

        <div class="sortable-list__content row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <div class="w-100">
                    {{ widget('input')
                        .enableI18n()
                        .setType('text')
                        .setName('___')
                        .render()|raw }}
                </div>
                <a href="{{ env('CDN_GATEWAY_URL') ~ '{{ path }}' }}" target="_blank" class="sortable-list__action link d-flex align-items-center justify-content-center">
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
        <div class="sortable-list__handler"></div>
        <a href="" class="sortable-list__remove link d-flex align-items-center justify-content-center">
            <i class="fa fa-trash"></i>
        </a>
    </div>
</div>
