<div {{ _widget.renderAttributes()|raw }}>
    <div class="filter__trigger">
        <button onclick="new Filter(this).toggle()" class="btn btn--warning">{{ _widget.getButtonName() }}</button>
    </div>
    <div class="filter__content">
        {% for item in _widget.getScheme() %}
            {% widget in 'form-group' with {setTitle : item.title} %}
                {% if item.type == 'select' %}
                    {{ widget('select')
                        .appendClass('_js-filter-item')
                        .setName('filter[' ~ item.name ~ ']')
                        .addOptions(item.options)
                        .setSelected(item.selected ?: "")
                        .render()|raw }}
                {% elseif item.type == 'select-multiple' %}
                    {{ widget('select')
                        .appendClass('_js-filter-item')
                        .setMultiple('multiple')
                        .setName('filter[' ~ item.name ~ '][]')
                        .addOptions(item.options)
                        .setSelected(item.selected ?: "")
                        .render()|raw }}
                {% elseif item.type == 'text' %}
                    {{ widget('input')
                        .appendClass('_js-filter-item')
                        .setType('text')
                        .setName('filter[' ~ item.name ~ ']')
                        .setValue(item.value ?: "")
                        .render()|raw }}
                {% elseif item.widget is defined %}
                    {{ item.widget|raw }}
                {% endif %}
            {% endwidget %}
        {% endfor %}
        <div class="btn-group">
            {{ widget('button')
                .appendClass('btn--primary')
                .setType('button')
                .setContent('Применить'|trans)
                .setOnclick('new Filter(this).apply()')
                .render()|raw }}
            {{ widget('button')
                .appendClass('btn--warning')
                .setType('button')
                .setContent('Отменить'|trans)
                .setOnclick('new Filter(this).cancel()')
                .render()|raw }}
            {{ widget('button')
                .appendClass('btn--outline')
                .setType('button')
                .setContent('Скрыть'|trans)
                .setOnclick('new Filter(this).toggle()')
                .render()|raw }}
        </div>
    </div>
</div>