<div {{ _widget.renderAttributes()|raw }}>
    <div class="form-group__label">
        {{ _widget.getTitle() }}
    </div>
    <div class="form-group__content">
        {{ _widget.getContent()|raw }}
    </div>
</div>