{% set __id = md5(microtime()) %}
{% set name = _widget.getName() %}
{% set content = _widget.getContent() %}

<div class="gallery" id="gallery{{ __id }}">
    <div class="gallery__uploader">
        {{ widget('file-uploader')
            .setId('gallery-uploader-' ~ __id)
            .setDataCallback('galleryUpload' ~ __id)
            .setDataLabel('Выберите изображения, чтобы загрузить, или перетащите файлы сюда'|trans)
            .setUploadUrl(route('components.file.upload'))
            .render()|raw }}
    </div>
    <div class="gallery__images d-flex align-items-start justify-content-start flex-wrap" id="gallery-sortable-{{ __id }}" data-widget="sortable-list">
        {% for path in content.path %}
            <div class="gallery__image">
                <input type="hidden" name="{{ name }}[path][]" value="{{ path }}">
                <div data-hover="image-uploader--state-hover" class="image-uploader image-uploader--with-image" style="background-image: url('{{ env('CDN_GATEWAY_URL') ~ path }}')">
                    <div class="image-uploader__overlay"></div>
                    <div class="image-uploader__actions d-flex align-items-center justify-content-center">
                        <a href="" class="image-uploader__action image-uploader__action--settings d-flex align-items-center justify-content-center">
                            <i class="fa fa-gear"></i>
                        </a>
                        <a href="" class="image-uploader__action image-uploader__action--remove d-flex align-items-center justify-content-center">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    let __galleryPane{{ __id }} = '';
    function galleryUpload{{ __id }}(file, response)
    {
        if (__galleryPane{{ __id }} == '') {
            __galleryPane{{ __id }} = getDefaultTableActions('#galleryImagePane_{{ __id }}');
        }

        response.input = '<input type="hidden" name="{{ name }}[path][]" value="' + response.path + '">';

        $('#gallery{{ __id }}').find('.gallery__images').append(__galleryPane{{ __id }}(response));
    }

    if (typeof initSortableList == 'function') {
        initSortableList('#gallery-sortable-{{ __id }}');
    }

</script>

<div id="galleryImagePane_{{ __id }}" style="display: none">
    <div class="gallery__image">
        {{ '{{ input }}' }}
        <div data-hover="image-uploader--state-hover" class="image-uploader image-uploader--with-image" style="background-image: url('{{ '{{ url }}' }}')">
            <div class="image-uploader__overlay"></div>
            <div class="image-uploader__actions d-flex align-items-center justify-content-center">
                <a href="" class="image-uploader__action image-uploader__action--settings d-flex align-items-center justify-content-center">
                    <i class="fa fa-gear"></i>
                </a>
                <a href="" class="image-uploader__action image-uploader__action--remove d-flex align-items-center justify-content-center">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
    </div>
</div>