{% if _widget.getValue() %}
    {{ _widget.appendData('class', 'image-uploader--with-image') }}
    {{ _widget.setData('style', 'background-image:url(\'' ~ _widget.getCdn().getUrl(_widget.getValue()) ~ '\')') }}
{% endif %}

<div data-toggle="image-uploader" data-hover="image-uploader--state-hover" id="{{ _widget.getId() }}" {{ _widget.renderAttributes()|raw }}>
    <input class="_js-image-uploader-input" type="hidden" name="{{ _widget.getName() }}" value="{{ _widget.getValue() }}">
    <div class="image-uploader__overlay {{ _widget.getValue() ? 'd-flex' : 'd-none' }}"></div>
    <div class="image-uploader__actions {{ _widget.getValue() ? 'd-flex' : 'd-none' }} align-items-center justify-content-center">
        <a href="" class="image-uploader__action image-uploader__action--settings d-flex align-items-center justify-content-center"><i class="fa fa-gear"></i></a>
        <a href="" class="image-uploader__action image-uploader__action--remove d-flex align-items-center justify-content-center"><i class="fa fa-trash"></i></a>
    </div>
</div>

<script>
    if (typeof initImageDropzone == 'function') {
        initImageDropzone('#{{ _widget.getId() }}');
    }
</script>