{% set __id = md5(microtime()) %}
{% set name = _widget.getName() %}
{% set content = _widget.getContent() %}

<div class="image-extended">
    <div class="image-extended__dropzone">
        <div class="form-group mb-0">
            <div class="form-group__label">
                {{ 'Изображение'|trans }}
            </div>
            <div class="form-group__content">
                {{ widget('Image')
                    .setId('image' ~ __id)
                    .setName(name ~ '[path]')
                    .setDataLabel('Загрузите изображение'|trans)
                    .setDataCallback('imageSuccess' ~ __id)
                    .setDataCallbackRemove('imageRemove' ~ __id)
                    .setUploadUrl(route('components.image.upload'))
                    .setRemoveUrl(route('components.image.remove'))
                    .setValue(content.path)
                    .render()|raw }}
            </div>
        </div>
    </div>
    <div class="image-extended__settings w-100">
        <div class="image-extended__align w-100">
            <div class="form-group">
                <div class="form-group__label">
                    {{ 'Расположение'|trans }}
                </div>
                <div class="form-group__content">
                    {{ widget('Radio')
                        .setName(name ~ '[align]')
                        .setValue(content.align)
                        .addOption('left', 'Слева', { icon : 'align-left' })
                        .addOption('justify', 'По ширине', { icon : 'align-justify' })
                        .addOption('center', 'По центру', { icon : 'align-center' })
                        .addOption('right', 'Справа', { icon : 'align-right' })
                        .render()|raw }}

                </div>
            </div>
        </div>
        <div class="image-extended__signature w-100">
            <div class="form-group mb-0">
                <div class="form-group__label">
                    {{ 'Подпись'|trans }}
                </div>
                <div class="form-group__content">
                    {{ widget('Input')
                        .enableI18n()
                        .setName(name ~ '[signature]')
                        .setValue(content.signature)
                        .render()|raw }}
                </div>
            </div>
        </div>
    </div>
</div>