{% if _widget.isI18n() %}
    {% set name  = _widget.getName() %}
    {% set value = _widget.getValue() %}

    {% if _widget.getI18n()|length > 1 %}
        <div class="form-control-i18n" data-field-name="{{ name }}">
            {% for i18n in _widget.getI18n() %}
                {{ _widget.setData('name', name ~ '[' ~ i18n.id ~ ']') }}
                {{ _widget.setData('value', value[i18n.id] ?? '') }}
                <div data-field-lang-id="{{ i18n.id }}" class="form-control-i18n__row{{ i18n.is_default ? ' form-control-i18n__row--state-active' }}">
                    <input{{ _widget.renderAttributes()|raw }}/>
                </div>
            {% endfor %}
            <div class="form-control-i18n__selector">
                <div class="i18n-switcher" data-toggle="i18n-switcher" data-hover="i18n-switcher--state-hover">
                    <div class="i18n-switcher__current">Рус</div>
                    <div class="i18n-switcher__dropdown">
                        {% for i18n in _widget.getI18n() %}
                            <a{{ i18n.default_backend ? ' class="selected"' }} href="" data-lang-id="{{ i18n.id }}" data-callback="changeFieldLanguage">{{ i18n.title_short  }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% for i18n in _widget.getI18n() %}
            {{ _widget.setData('name', name ~ '[' ~ i18n.id ~ ']') }}
            {{ _widget.setData('value', value[i18n.id] ?? '') }}
            <input{{ _widget.renderAttributes()|raw }}/>
        {% endfor %}
    {% endif %}
{% else %}
    {% if _widget.getType() != 'checkbox' and _widget.hasClass('form-control--prepended') %}
        <div class="font-control-container font-control-container--prepend" data-prepend="{{ _widget.getDataPrepend() }}">
    {% endif %}
    <input{{ _widget.renderAttributes()|raw }}/>
    {% if _widget.getType() != 'checkbox' and _widget.hasClass('form-control--prepended') %}
        </div>
    {% endif %}
{% endif %}
