<div class="embed embed--provider-{{ embed.providerName }}" style="{{ embed.width ? 'width:' ~ (embed.width + 2) ~ 'px' : '' }}">
    {% if embed.providerName == 'Facebook' %}
        {{ embed.code|raw }}
    {% else %}
        {% if embed.code %}
            <div class="embed__code">
                {{ embed.code|raw }}
            </div>
        {% endif %}
        {% if embed.title %}
            <div class="embed__heading">
                {{ embed.title|raw }}
            </div>
        {% endif %}
        {% if embed.description %}
            <div class="embed__description">
                {{ embed.description|raw }}
            </div>
        {% endif %}
        {% if embed.url %}
            <div class="embed__source">
                {{ embed.url|raw }}
            </div>
        {% endif %}
    {% endif %}
</div>