{% set __id = md5(microtime()) %}
<div class="form-radio-group">
    {% for option in _widget.getOptions() %}
        <div class="form-radio{{ option.settings.icon ? ' form-radio--icon form-radio--' ~ option.settings.icon : null }}">
            <input id="radio_{{ __id ~ option.value }}"{{ _widget.getValue() == option.value ? ' checked="checked"' : null }} class="form-radio__input" value="{{ option.value }}" type="radio" name="{{ _widget.getName() }}"/>
            <label for="radio_{{ __id ~ option.value }}" class="form-radio__label">{{ option.settings.icon is not defined ? option.label : null }}</label>
        </div>
    {% endfor %}
</div>