<div{{ _widget.renderAttributes()|raw }}>
    <div class="report-columns__row">
        {% for column in _widget.getScheme().columns %}
            <div class="report-columns__column">
                <div class="report-columns__head">
                    <h3>{{ column.title }}</h3>
                </div>
                <div class="report-columns__body">
                    <div class="report-columns__list">
                        {% for item in column.items %}
                            <div class="report-columns__list-item">
                                <p class="paragraph paragraph--sm mb-0 color--muted-dark">{{ item.date }}</p>
                                <p class="paragraph paragraph--sm mb-0">{{ item.subject|raw }}</p>
                                <h3 class="mt-0 mb-0">{{ item.amount }}</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="report-columns__footer">
                    <p class="mb-0 color--muted-dark">Итого</p>
                    <h3 class="mt-0 mb-0">{{ column.total }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
</div>