{% if _widget.getDataMode() == 'tags' %}
    <input{{ _widget.renderAttributes()|raw }}/>
{% else %}
    {% set selected = _widget.getSelected() %}
    <select{{ _widget.renderAttributes()|raw }}>
        {% for option in _widget.getOptions() %}
            {% set is_selected = false %}
            {% if selected is iterable %}
                {% set is_selected = option.value in selected %}
            {% else %}
                {% set is_selected = selected == option.value%}
            {% endif %}
            <option{{ is_selected ? ' selected=""' : null }} {{ option.settings|length > 0 ? _widget.renderAttributes(option.settings)|raw : null }} value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
    </select>
{% endif %}
<script>
    if (typeof initSelectbox == 'function') {
        initSelectbox('#{{ _widget.getId() }}');
    }
</script>