{% set features  = _widget.getFeatures() %}
{% set namespace = _widget.getNamespace() ?? 'seo' %}
{% set content   = _widget.getContent() ?? [] %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <fieldset class="field-set">
                <legend class="field-set__legend">{{ 'Метатеги'|trans }}</legend>
                {% if 'title' in features %}
                    {% widget in 'form-group' with {setTitle : 'Тайтл'} %}
                        {{ widget('input')
                            .enableI18n()
                            .setType('text')
                            .setName(namespace ~ '[seo_title]')
                            .setValue(content.seo_title)
                            .render()|raw }}
                    {% endwidget %}
                {% endif %}

                {% if 'h1' in features %}
                    {% widget in 'form-group' with {setTitle : 'H1'} %}
                        {{ widget('input')
                            .enableI18n()
                            .setType('text')
                            .setName(namespace ~ '[seo_h1]')
                            .setValue(content.seo_h1)
                            .render()|raw }}
                    {% endwidget %}
                {% endif %}

                {% if 'keywords' in features %}
                    {% widget in 'form-group' with {setTitle : 'Keywords'} %}
                        {{ widget('textarea')
                            .enableI18n()
                            .setName(namespace ~ '[seo_keywords]')
                            .setContent(content.seo_keywords)
                            .render()|raw }}
                    {% endwidget %}
                {% endif %}

                {% if 'description' in features %}
                    {% widget in 'form-group' with {setTitle : 'Description'} %}
                        {{ widget('textarea')
                            .enableI18n()
                            .setName(namespace ~ '[seo_description]')
                            .setContent(content.seo_description)
                            .render()|raw }}
                    {% endwidget %}
                {% endif %}
            </fieldset>
        </div>
        <div class="col-6">
            {% if 'og' in features %}
                <fieldset class="field-set">
                    <legend class="field-set__legend">
                        {{ 'OpenGraph метки'|trans }}
                        <span data-popover="inline" data-content="{{ 'Применяются для публикации страницы <br> в социальных сетях, мессенжерах.' }}" data-trigger="hover">
                            <i class="fa fa-question-circle"></i>
                        </span>
                    </legend>

                    {% widget in 'form-group' with {setTitle : 'Изображение (1200×630px)'} %}
                        {{ widget('Image')
                            .setName(namespace ~ '[og_image]')
                            .setDataLabel('Загрузите изображение'|trans)
                            .setUploadUrl(route('components.image.upload'))
                            .setRemoveUrl(route('components.image.remove'))
                            .setValue(content.og_image)
                            .render()|raw }}
                    {% endwidget %}

                    {% widget in 'form-group' with {setTitle : 'Тип'} %}
                        {{ widget('select')
                            .setName(namespace ~ '[og_type]')
                            .addOption('web_site', 'Вебсайт'|trans)
                            .addOption('article', 'Статья'|trans)
                            .setSelected(content.og_type)
                            .render()|raw }}
                    {% endwidget %}

                    {% widget in 'form-group' with {setTitle : 'Заголовок'} %}
                        {{ widget('input')
                            .enableI18n()
                            .setType('text')
                            .setName(namespace ~ '[og_title]')
                            .setValue(content.og_title)
                            .render()|raw }}
                    {% endwidget %}

                    {% widget in 'form-group' with {setTitle : 'Описание'} %}
                        {{ widget('textarea')
                            .enableI18n()
                            .setName(namespace ~ '[og_description]')
                            .setContent(content.og_description)
                            .render()|raw }}
                    {% endwidget %}
                </fieldset>
            {% endif %}
        </div>
    </div>
</div>