{% set __id = _widget.getId() %}

    <div{{ _widget.renderAttributes()|raw }}>
        <div class="sortable-list__body">
            {{ _widget.getContent()|raw }}
        </div>
        <div class="sortable-list__footer">
            {{ widget('button')
                .appendClass('btn--success')
                .appendClass('btn--xs')
                .appendClass('_js-sortable-append')
                .setType('button')
                .setContent('Добавить'|trans)
                .render()|raw }}
        </div>
    </div>

    <script type="text/javascript">
        initSortableList('#{{ __id }}');
    </script>

{% assets in 'scripts' %}

{% endassets %}