<ul{{ _widget.renderAttributes()|raw }}>
    {% for item in _widget.getItems() %}
        <li class="switcher__item {{ loop.index == 1 ? ' switcher__item--state-active' : '' }} d-flex align-items-center justify-content-between"
            data-hover="switcher__item--state-hover"
            data-id="{{ item.id }}"
            data-callback="{{ _widget.getCallback() }}"
            data-url="{{ item.url }}">
            {{ item.label|trans }}

            {% if item.settings.type == 'editable' %}
                <div
                        class="switcher__edit float-right d-flex align-items-center justify-content-center"
                        {% for attr, value in item.settings.data %}
                            data-{{ attr }}="{{ value }}"
                        {% endfor %}
                >
                    <i class="fa fa-pencil"></i>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>