{% if _widget.getDataWysiwyg() == 'wysiwyg' %}
    {% set tag = 'div' %}
{% elseif _widget.getDataCodeHighlight() != '' %}
    {% set tag = 'div' %}
    {{ _widget.setData('class', '') }}
{% else %}
    {% set tag = 'textarea' %}
{% endif %}
{% if _widget.isI18n() %}
    {% set name  = _widget.getName() %}
    {% set value = _widget.getValue() %}

    {% if _widget.getI18n()|length > 1 %}
        <div class="form-control-i18n" data-field-name="{{ name }}">
            {% for i18n in _widget.getI18n() %}
                {{ _widget.setData('name', name ~ '[' ~ i18n.id ~ ']') }}
                <div data-field-lang-id="{{ i18n.id }}" class="form-control-i18n__row{{ i18n.is_default ? ' form-control-i18n__row--state-active' }}">
                    {% if _widget.getDataWysiwyg() == 'wysiwyg' %}
                        {{ _widget.setData('data-name', md5(name ~ '[' ~ i18n.id ~ ']')) }}
                    {% endif %}

                    <{{ tag }}{{ _widget.renderAttributes()|raw }}>{{ _widget.getContent()[i18n.id]|raw }}</{{ tag }}>
                    {% if _widget.getDataWysiwyg() == 'wysiwyg' or _widget.getDataCodeHighlight() != '' %}
                        <textarea style="display: none;" data-name="{{ md5(_widget.getName()) }}" name="{{ _widget.getName() }}" ></textarea>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-control-i18n__selector">
                <div class="i18n-switcher" data-toggle="i18n-switcher" data-hover="i18n-switcher--state-hover">
                    <div class="i18n-switcher__current">Рус</div>
                    <div class="i18n-switcher__dropdown">
                        {% for i18n in _widget.getI18n() %}
                            <a{{ i18n.default_backend ? ' class="selected"' }} href="" data-lang-id="{{ i18n.id }}" data-callback="changeFieldLanguage">{{ i18n.title_short  }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% for i18n in _widget.getI18n() %}
            {{ _widget.setData('name', name ~ '[' ~ i18n.id ~ ']') }}
            {{ _widget.setData('value', value[i18n.id] ?? '') }}
            {% if _widget.getDataWysiwyg() == 'wysiwyg' %}
                {{ _widget.setData('data-name', md5(name ~ '[' ~ i18n.id ~ ']')) }}
            {% endif %}
            <{{ tag }}{{ _widget.renderAttributes()|raw }}>{{ _widget.getContent()[i18n.id]|raw }}</{{ tag }}>
            {% if _widget.getDataWysiwyg() == 'wysiwyg' or _widget.getDataCodeHighlight() != '' %}
                <textarea style="display: none;" data-name="{{ md5(_widget.getName()) }}" name="{{ _widget.getName() }}" ></textarea>
            {% endif %}
        {% endfor %}
    {% endif %}
{% else %}
    {% if _widget.getDataWysiwyg() == 'wysiwyg' or _widget.getDataCodeHighlight() != '' %}
        {{ _widget.setData('data-name', md5(_widget.getName())) }}
    {% endif %}
    <{{ tag }}{{ _widget.renderAttributes()|raw }}>{{ _widget.getDataCodeHighlight() != '' ? _widget.getContent() : _widget.getContent()|raw }}
    </{{ tag }}>
    {% if _widget.getDataWysiwyg() == 'wysiwyg' or _widget.getDataCodeHighlight() != '' %}
        <textarea style="display: none;" data-name="{{ md5(_widget.getName()) }}" name="{{ _widget.getName() }}" >
            {% if _widget.getDataCodeHighlight() != '' %}
                {{ _widget.getContent() }}
            {% endif %}
        </textarea>
    {% endif %}
    {% if _widget.getDataCodeHighlight() != '' %}
        <script type="text/javascript">
            if (CodeHighlight) {
                let codes = document.querySelectorAll('div[data-name="{{ _widget.getData('data-name') }}"]');
                for (let i = 0; i < codes.length; ++i) {
                    new CodeHighlight(codes[i]).mode(codes[i].dataset.codeHighlight).render();
                }
            }
        </script>
    {% endif %}
{% endif %}
